@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme extend {
  --color-primary-opaque: #37afe1;
  --color-primary-hover: #2499c9;
  --color-primary-transparent: #e5f6ff;
  --color-xgreen: #6ec207;
  --color-xorange: #ff8133;
  --color-xyellow: #fdc225;
  --color-xdarkgreen: #31a020;
  --color-xred: #d2252e;
  --color-xpurple: #c282ce;
  --color-xgreen: #6ec207;
  --color-xgray: #7d98b3;

  --font-poppins: "Poppins", sans-serif;

  --shadow-custom: 0px 18px 34.5px 0px rgba(0, 0, 0, 0.07);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }


  progress {
    @apply appearance-none bg-gray-200 rounded-lg h-1;
  }
  progress::-webkit-progress-bar {
    @apply appearance-none bg-gray-200 rounded-lg h-1;
  }
  progress::-webkit-progress-value {
    @apply appearance-none bg-gray-400 rounded-lg h-1;
  }
  progress::-moz-progress-bar {
    @apply appearance-none bg-gray-200 rounded-lg h-1;
  }
}

@layer components {
  .homepage-hero {
    background-image: url("/assets/landing_hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .locations-hero {
    background-image: url("/assets/location_banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .details-hero {
    background-image: url("/assets/detail_banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .leaflet-container {
    height: 600px;
    width: 100%;
  }

  .map-popup p {
      margin: 0 !important;
  }

  .current-location-marker .pulse {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    position: relative;
  }

  .current-location-marker .pulse:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    opacity: 0.4;
    animation: pulse 2s infinite;
    top: 0;
    left: 0;
  }

  @keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
  }
}
